<html>
	<header>
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<link rel="stylesheet" type="text/css" href="css/row_col_container.css">
		<script src="js/smooth-scroll-master/dist/js/smooth-scroll.js"></script>
	</header>

	<body>

		<div class="banner" id="top">
			<div class="banner-background"></div>
			<div class="container">
				<div class="banner-header">
					<h1>ABOUT</h1>
				</div>
			</div>
		</div>

		<div class="content-container">
			<div class="container">

				<h1 class="content-header">What is XR?</h1>
				<p>XR stands for Extended Reality, which refers to the spectrum of virtual environments ranging from Augmented Reality, to Mixed Reality, to Virtual Reality. In other words, XR exists everywhere in-between the “real” reality we live in and a completely computer-generated world. For more detail, read on the <a href="https://en.wikipedia.org/wiki/Reality%E2%80%93virtuality_continuum" target="blank">“reality-virtuality continuum”</a></p>

				<h1 class="content-header">Who are we?</h1>
				<p>Triton XR is a multidisciplinary student organization at UC San Diego dedicated to spreading, teaching, creating, and sharing XR technology with our growing community, while preparing students for a job in the XR industry. Founded in the Fall of 2015 (as the “Virtual Reality Club at UCSD”, eventually rebranded as Triton XR in Spring 2018), our organization rapidly become one of the fastest-growing and most reputable organizations on campus. We hold numerous events that further this mission, including Hackathons, large-scale XR demos, workshops, project showcases, socials, and collaborations with other student organizations and departments on campus. For our most passionate members, we sponsor 5-10 project teams spanning many different backgrounds and skill levels, resulting in over 100 dedicated students actively developing XR projects each year. It’s our mission to be the foremost resource for students interested in XR at UC San Diego.</p>

				<h1 class="content-header">When do we meet?</h1>
				<p>We hold several events every quarter that are mainly advertised via our newsletters and Facebook page. Though we don’t meet on a regular basis, we’ll usually have an average of 5-6 events each academic quarter (10 week period), which includes one Hackathon, one large demo event, 1-2 socials or workshops, and 1-2 collaborations with other organizations or campus groups. Please note that Triton XR does not hold any events during UC San Diego’s breaks or summer quarters.</p>

				<h1 class="content-header">Why join?</h1>
				<p>Triton XR is an award-winning professional and social organization at UC San Diego, one of the largest and most successful XR student organizations in the nation, and the best resource for undergraduate students to engage with XR technology in San Diego. If it’s XR-related at UCSD, Triton XR is likely involved. Our first year as an organization, in 2016, we won the the highest honor of “Outstanding New Student Organization of the Year” at UCSD, followed up the next year, in 2017,with “Outstanding Student Organization of the Year”, and finally in 2018 by “Outstanding Team Effort of the Year” for our HackXR 2018 Hackathon event. Most importantly, we offer opportunities and experience for students of all majors, disciplines, and interests. Whether you’re a developer, a leader, a gamer, or just an enthusiast, joining our organization means becoming part of a passionate and evolving community that’s making big waves in a young industry.</p>

			</div>
		</div>

		<div class="footer">
			<div class="container">
				<a href="/"><h4>Return to Site</h4></a>
				<a href="#top"><h4>Back to Top</h4></a>
			</div>
		</div>


	</body>

	<script>
		var scroll = new SmoothScroll('a[href*="#"]');
	</script>

</html>