<html>
	<header>
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<link rel="stylesheet" type="text/css" href="css/row_col_container.css">
		<script src="js/smooth-scroll-master/dist/js/smooth-scroll.js"></script>
	</header>

	<body>

		<div class="banner" id="top">
			<div class="banner-background"></div>
			<div class="container">
				<div class="banner-header">
					<h1>ABOUT</h1>
				</div>
			</div>
		</div>

		<div class="content-container">
			<div class="container">

				<h1 class="content-header">Early Days</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<h1 class="content-header">Collaboration</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<h1 class="content-header">Learn by Doing</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			</div>
		</div>

		<div class="footer">
			<div class="container">
				<a href="/"><h4>Return to Site</h4></a>
				<a href="#top"><h4>Back to Top</h4></a>
			</div>
		</div>


	</body>

	<script>
		var scroll = new SmoothScroll('a[href*="#"]');
	</script>

</html>