<html>
	<header>
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<link rel="stylesheet" type="text/css" href="css/row_col_container.css">
		<script src="js/smooth-scroll-master/dist/js/smooth-scroll.js"></script>
	</header>

	<body>

		<div class="banner" id="top">
			<div class="banner-background"></div>
			<div class="container">
				<div class="banner-header">
					<h1>NEWS AND AWARDS</h1>
				</div>
			</div>
		</div>

		<div class="content-container">
			<div class="container">

				<h1 class="content-header">News / Publications</h1>
				
				<p>Triton XR is in the news! Here’s a list of our featured news spotlights and favorite articles.</p>

				<h3><a href="http://triton.news/2018/03/virtual-reality-club-draws-100-students-first-hackathon/" target="_blank">Virtual Reality Club Draws 100 Students To It’s First Hackathon</a></h3>
				<p>March 12, 2018<br>
				The Triton<br>
				Article by UCSD’s student-run news source about HackXR 2018 and it’s success</p>

				<h3><a href="http://ucsdnews.ucsd.edu/feature/uc-san-diego-hosts-its-first-virtual-reality-augmented-reality-hackathon" target="_blank">UC San Diego Hosts Its First Virtual Reality, Augmented Reality Hackathon</a></h3>
				<p>March 1, 2018<br>
				This Week at UC San Diego<br>
				A feature article about HackXR 2018, Triton XR’s exclusive VR/AR/MR Hackathon</p>

				<h3><a href="https://cse.ucsd.edu/about/news/students-launch-hackathon-virtual-mixed-and-augmented-reality" target="_blank">Students Launch Hackathon for Virtual, Mixed, and Augmented Reality</a></h3>
				<p>January 30, 2018<br>
				Computer Science and Engineering at UCSD<br>
				An article published in preparation for HackXR 2018, Triton XR’s first ever VR/AR/MR Hackathon</p>

				<h3><a href="http://jacobsschoolofengineering.blogspot.com/2017/06/uc-san-diegos-virtual-reality-club-sees.html" target="_blank">UC San Diego’s Virtual Reality Club Sees Success in 2016-2017</a></h3>
				<p>June 28, 2017<br>
				UC San Diego Jacobs School of Engineering<br>
				A shortlist of Triton XR’s (at the time, VR Club’s) accomplishments during the 2016-2017 school year.</p>

				<h3><a href="https://www.10news.com/news/ucsd-opens-first-virtual-reality-teaching-lab" target="_blank">UCSD Opens Country’s First Virtual Reality Lab</a></h3>
				<p>May 25, 2017<br>
				ABC 10 News<br>
				An ABC news story about the new VR lab at UC San Diego, featuring former VR Club President Connor Smith and club advisor Dr. Jurgen Schulze.</p>

				<h3><a href="http://ucsdnews.ucsd.edu/feature/giving_students_a_place_to_prep_for_tomorrows_virtual_reality_economy" target="_blank">Giving Students a Place to Prep for Tomorrow’s Virtual (Reality) Economy</a></h3>
				<p>May 11, 2017<br>
				This Week at UC San Diego<br>
				An article featuring UCSD’s new VR lab, which has 35 Oculus Rifts, an HTC Vive, and 25 VR-ready computer. All Triton XR project members get special access to this otherwise private lab.</p>


				<h1 class="content-header">Awards and Recognitions</h1>

				<h3>We did it.</h3>
				<h3>Way to Go.</h3>
				<h3>We are the Best.</h3>

			</div>
		</div>

		<div class="footer">
			<div class="container">
				<a href="/"><h4>Return to Site</h4></a>
				<a href="#top"><h4>Back to Top</h4></a>
			</div>
		</div>


	</body>

	<script>
		var scroll = new SmoothScroll('a[href*="#"]');
	</script>

</html>