<html>
	<header>
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<link rel="stylesheet" type="text/css" href="css/row_col_container.css">
		<script src="js/smooth-scroll-master/dist/js/smooth-scroll.js"></script>
	</header>

	<body>

		<div class="banner" id="top">
			<div class="banner-background"></div>
			<div class="container">
				<div class="banner-header">
					<h1>PROJECTS</h1>
				</div>
			</div>
		</div>

		<div class="content-container">
			<div class="container">

				<h1>About projects</h1>
				<p>Every year, Triton XR recruits over 100 students to build innovative XR applications across project teams ranging from beginner to advanced skill levels. Any passionate member with a unique idea can start a project, while we provide equipment, mentorship, space, leadership, publicity, and key connections to help them get off the ground and turn that idea into (extended) reality.</p>

				<p>To see past projects, view their work, and learn more about their ideas, visit our <a href="https://github.com/UCSDVR" target="_blank">GitHub organization</a>. For more information about each project, select a repository and navigate to the “Wiki” tab at the top. Our recent teams will have several pages that you can navigate and view to discover more about the team’s efforts and progress.</p>

				<p>If you’re interested in joining or starting a project, please view our <a href="http://bit.ly/txr-projects" target="_blank">project overview</a> for a description of the project application process, timeline, logistics, and benefits. Please note that most project lead and member applications happen in the Fall quarter of each school year, with some exceptions.</p>

				<h1>Current Projects</h1>

				<div class="row">
					
					<div class="col m4">
						<div class="project-card">
							<div class="project-contents">
								<object class="project-img" type="image/svg+xml" data="images/svg/placeholder.svg">Your browser does not support SVGs</object>
								<div class="project-text">
									<h3>Paint the Town</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="footer">
			<div class="container">
				<a href="/"><h4>Return to Site</h4></a>
				<a href="#top"><h4>Back to Top</h4></a>
			</div>
		</div>


	</body>

	<script>
		var scroll = new SmoothScroll('a[href*="#"]');
	</script>

</html>